# Ensure all text files use LF in the repository but are checked out with CRLF on Windows
* text=auto

# Handle specific file types with LF
*.js text eol=lf
*.ejs text eol=lf
*.css text eol=lf
*.json text eol=lf
