<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Signup</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
    <input type="checkbox" id="show" class="show" />
    <!-- Title+Button -->
   <label for="show" class="title">Login<i class="flag left"></i><i class="flag right"></i></label>
    
    <form action="/adminlogin" class="form" method="post">
         <!-- Email -->
        <div class="group">
            <div class="col-1">
                <label for="email">Username</label>
            </div>
            <div class="col-2">
                <input type="username" id="email" name="username" placeholder="username" />
            </div>
        </div>
        <!-- Password -->
        <div class="group">
            <div class="col-1">
                <label for="password">Password</label>
            </div>
            <div class="col-2">
                <input type="password" id="password" name="password" placeholder="password" />
            </div>
        </div>
        <div class="group">
            <div class="col-1">
                <label for="password">SecretKey</label>
            </div>
            <div class="col-2">
                <input type="password" id="password" name="secretkey" placeholder="SecretKey" />
            </div>
        </div>
        <div class="center-link">
            <h4>------------------------------OR------------------------------</h4>
        </div>
            <div class="center-link">
                <a href="/adminsignup"><h4>Don't have an account</h4></a>
        </div>
        <!-- Submit button -->
        <input type="submit" class="submit" value="submit" />
    </form>
</body>
</html>