<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User or Admin</title>
<link rel="stylesheet" href="/stylesheets/choose.css">
</head>
<body>
    <h1 class="head">Who are you?</h1>
    <div class="cursor typewriter-animation">
        If you are a regular user, please click "User".<br>
        If you are an administrator, please click "Admin".
    </div>
    <div class="button-container">
        <button class="button user-button" onclick="location.href='/userlogin'">User</button>
        <button class="button admin-button" onclick="location.href='/admin'">Admin</button>
      </div>
</body>
</html>
