<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>

<body>
    <main id="carousel">
        <div class="item active">
            <img src="https://images.pexels.com/photos/13068359/pexels-photo-13068359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 1">
            
        </div>
        <div class="item left">
            <img src="https://images.pexels.com/photos/15128137/pexels-photo-15128137/free-photo-of-lights-in-a-hallway-of-a-shopping-mall.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 2">
            
        </div>
        <div class="item right">
            <img src="https://images.pexels.com/photos/16176574/pexels-photo-16176574/free-photo-of-lounge-in-a-store.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 3">
            
        </div>
        <div class="item hidden-left">
            <img src="https://images.pexels.com/photos/13068380/pexels-photo-13068380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 4">
           
        </div>
        <div class="item hidden-right">
            <img src="https://images.pexels.com/photos/7534168/pexels-photo-7534168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 5">
        </div>
    </main>
        <script src="/javascripts/portfolio.js"></script>
  </body>
  </html>