<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignSpace - Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preload" href="/stylesheets/home.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/stylesheets/home.css"></noscript>
</head>
<body>
    <div class="background"></div>
    
    <nav class="nav">
        <div class="nav-left">
            <img class="logo" src="/images/Untitled.png" alt="DesignSpace Logo">
            <h1>DesignSpace</h1>
            <a href="/about"><h1>About</h1></a>
        </div>
        <div class="nav-right">
            <a href="/choose"><h1>Login</h1></a>
            <button id="menu-toggle" class="menu-icon" aria-label="Toggle Menu">☰</button>
        </div>
    </nav>

    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" id="close-menu" aria-label="Close Menu">&times;</a>
        <a href="/services">Services</a>
        <a href="/portfolio" id="portfolio-link">Portfolio</a>
        <div id="portfolio-submenu" class="portfolio-submenu">
            <a href="/residential">Residential</a>
            <a href="/commercial">Commercial</a>
            <a href="/conservation">Conservation and Heritage</a>
        </div>
        <a href="/contact">Contact</a>
    </div>

    <main class="content">
        <h1 class="main-title">Welcome to DesignSpace</h1>
        <p class="main-subtitle">Transforming spaces, inspiring lives</p>
         <a href="/services"><button  class="cta-button">Explore Our Designs</button></a>
    </main>

    <script src="/javascripts/home.js"></script>
</body>
</html>