<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignSpace-Home</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="background"></div> <!-- Blurred background -->
    <div class="nav">
        <div class="nav-left">
        <img class="logo" src="/images/Untitled.png" alt="">
        <h1>DesignSpace</h1>
    </div>
    <div class="nav-right">
        <h1>Contact</h1>
        <h1>Login</h1>
    </div>
    </div>
    
</body>
</html>
