<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignSpace - Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="body">

     <!-- Main Hero Section -->
     <div class="mainhero">
        <!-- Navigation Bar -->
        <header>
            <div class="nav">
                <div class="nav-left">
                    <img class="logo" src="/images/Untitled.png" alt="Logo">
                    <h2 class="nav-title">DesignSpace</h2>
                </div>
                <div class="nav-right">
                    <a href="/contact" class="nav-link">Contact</a>
                    <a href="/choose" class="nav-link">Login</a>
                    <span class="menu-icon">
                        <button class="headermenu">☰</button>
                    </span>
                </div>
            </div>

            <!-- Slide-in Sidebar Menu -->
            <div id="sidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" id="close-menu">&times;</a>
                <a href="/about" class="sidebar-link">About Us</a>
                <a href="/services" class="sidebar-link">Services</a>
                <a href="/portfolio" class="sidebar-link">Portfolio</a>
                <a href="/contact" class="sidebar-link">Contact</a>
            </div>
        </header>

        <!-- Hero Image -->
        <div class="hero-image">
            <img src="/images/minimalist-black-interior-with-black-sofa.jpg" alt="Hero Image">
        </div>
        
        <!-- Site Content -->
        <div class="site-content">
            <div class="section-reveal">
                <!-- First Grid Section -->
                <div class="grid-flex">
                    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-botanical-gardens.jpg);"></div>
                    <div class="col col-text">
                        <div class="Aligner-item">
                            <p class="quote">&ldquo;I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.&rdquo;
                                <cite class="author">- Maya Angelou</cite>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Second Grid Section -->
                <div class="grid-flex">
                    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-library-sm.jpg);">&nbsp;</div>
                    <div class="col col-text col-left">
                        <div class="Aligner-item">
                            <p class="quote">&ldquo;Simple is good.&rdquo;
                                <cite class="author">- Jim Henson</cite>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Third Grid Section -->
                <div class="grid-flex">
                    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-skylight-sm.jpg);">&nbsp;</div>
                    <div class="col col-text">
                        <div class="Aligner-item">
                            <p class="quote">&ldquo;Everybody has a plan until they get punched in the mouth.&rdquo;
                                <cite class="author">- Mike Tyson</cite>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Fourth Grid Section -->
                <div class="grid-flex">
                    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-overture.jpg);">&nbsp;</div>
                    <div class="col col-text col-left">
                        <div class="Aligner-item">
                            <p class="quote">&ldquo;We are what we pretend to be, so we must be careful about what we pretend to be&rdquo;
                                <cite class="author">- Kurt Vonnegut, Jr.</cite>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Fifth Grid Section -->
                <div class="grid-flex">
                    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-rainbow.jpg);">&nbsp;</div>
                    <div class="col col-text">
                        <div class="Aligner-item">
                            <p class="quote">&ldquo;Perfect is the enemy of good.&rdquo;
                                <cite class="author">- Voltaire</cite>
                            </p>
                        </div>
                    </div>
                </div>

              </div>
        </div>

    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <h2 class="footer-title">DesignSpace</h2>
                <p class="footer-description">Bringing your ideas to life with creative designs.</p>
            </div>
            <div class="footer-right">
                <ul class="social-links">
                    <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="/images/facebook-icon.png" alt="Facebook"></a></li>
                    <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="/images/twitter-icon.png" alt="Twitter"></a></li>
                    <li><a href="https://instagram.com" target="_blank" class="social-link"><img src="/images/instagram-icon.png" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-bottom-text">&copy; 2024 DesignSpace. All rights reserved.</p>
        </div>
    </footer>

    <script src="/javascripts/home.js"></script>

</body>

</html>