<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Design Space</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <a href="/home"><h1><span>Welcome </span> to<span> Design Space</span></h1></a>
</body>
</html>