<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>

<body>
    <main id="carousel">
        <div class="item active">
            <img src="https://images.pexels.com/photos/19050707/pexels-photo-19050707/free-photo-of-wooden-wardrobe-in-living-room.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 1">
        </div>
        <div class="item left">
            <img src="https://images.pexels.com/photos/27059631/pexels-photo-27059631/free-photo-of-decor-in-luxurious-apartment.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 2">
        </div>
        <div class="item right">
            <img src="https://images.pexels.com/photos/19050700/pexels-photo-19050700/free-photo-of-living-room-interior-design.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 3">
        </div>
        <div class="item hidden-left">
            <img src="https://images.pexels.com/photos/15667603/pexels-photo-15667603/free-photo-of-modern-bedroom-interior.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 4">
        </div>
        <div class="item hidden-right">
            <img src="https://images.pexels.com/photos/7601116/pexels-photo-7601116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 5">
        </div>
    </main>
        <script src="/javascripts/portfolio.js"></script>
  </body>
  </html>